
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HelpDeskAgent</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        td{
            padding: 20px;
            font-size: 18px;
        }
        table {
            border: 1px solid #4cff00;
        }
    </style>
    <script>
        //Get
        $(document).ready(function () {
            GetWorkItem();
        });
        // Get Server
        function GetWorkItem() {
            $.ajax({
                url: '/api/WorkItems/',
                type: 'GET',
                dataType: 'json',
                success: function (items) {
                    $.each(items, function (index, item) {
                        if ($("#tbWorkItem tbody").length == 0) {
                            $("#tbWorkItem").append("<tbody></tbody>");
                        }
                        $("#tbWorkItem tbody").append(
                            "<tr>" +
                            "<td>" + item.Id + "</td>"
                            + "<td>" + item.Title + "</td>"
                            + "<td>" + item.Status + "</td>"
                            + "<td>" + item.CreatedDate + "</td>"
                            + "<td>" + item.CompletedDate + "</td>"
                            + "<td><button class='removeitem'>Remove</button></td>"
                            + "</tr>");

                    });

                    $(".removeitem").click(function () {
                        if (confirm("Are you sure to remove this item?")) {
                            var tr = $(this).closest("tr").find("td");
                            
                            tr.remove();
                            showTotal();
                        }
                    });
                },


            });
        }

        // post
        function Post() {

            $("#PostItemWork").submit(function () {

                $.ajax({
                    url: action,
                    type: method,
                    data: $(this).serialize()



                });

                return false;
            });
        }

    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    display all workitems
                    on table.
                </h1>
                <table id="tbWorkItem" >
                    <tr>
                        <td>Id </td>
                        <td> Title </td>
                        <td> Status </td>
                        <td> CreatedDate </td>
                        <td> CompletedDate </td>
                        <td> </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h1>
                    Post WorkItem
                </h1>
                
                <form action="http://localhost:59012/api/WorkItems" method="post" id="PostItemWork">

                    <p><input type="text" name="Title"></p>
                    <p><input type="text" name="Status"></p>
                    <p><input type="date" name="CreatedDate"></p>
                    <p><input type="date" name="CompletedDate"></p>

                    <button type="submit" onclick='Post'>PostWorkItem</button>

                </form>
                
            </div>
        </div>

    </div>
</body>
</html>
